<?xml version="1.0"?>
<CONFIG>
   <RODS>
	  <TRACKING>
		  <ALIGNMENT>Horizonal</ALIGNMENT>
		  <GAP_COLOUR>171,250,250</GAP_COLOUR>
		  <GAP_COLOUR_DISTANCE>150</GAP_COLOUR_DISTANCE>
		  <GAP_MIN_SIZE>40</GAP_MIN_SIZE>
		  <ROD_WIDTH>1</ROD_WIDTH>
		  <LINE_DETECTION_FREQUENCY>3000000</LINE_DETECTION_FREQUENCY>
	  </TRACKING>
	  
	  <ROD>
		<NAME>Rod 1</NAME>
		<TRACKING>
			<LEFT>7,99</LEFT>
			<RIGHT>638,83</RIGHT>
		</TRACKING>
		<RECT>
		  <X>0</X>
		  <Y>45</Y>
		  <W>640</W>
		  <H>90</H>
		</RECT>
	  </ROD>
	</RODS>
   <RECORDING>
      <AVI>11.mp4</AVI>
      <STARTFRAME>0</STARTFRAME>
      <ENDFRAME>50000000</ENDFRAME>
   </RECORDING>
</CONFIG>