<?xml version="1.0"?>
<CONFIG>
   <CROP>
	  <RECT>
		  <X>194</X>
		  <Y>210</Y>
		  <W>600</W>
		  <H>330</H>
	  </RECT>
   </CROP>
   <RODS>
	  <TRACKING>
		  <ALIGNMENT>Horizonal</ALIGNMENT>
		  <GAP_COLOUR>12,17,23</GAP_COLOUR>
		  <GAP_COLOUR_DISTANCE>150</GAP_COLOUR_DISTANCE>
		  <GAP_MIN_SIZE>70</GAP_MIN_SIZE>
		  <ROD_WIDTH>4</ROD_WIDTH>
	  </TRACKING>
	  
	  <ROD>
		<NAME>Rod3</NAME>
		<RECT>
		  <X>228</X>
		  <Y>315</Y>
		  <W>500</W>
		  <H>30</H>
		</RECT>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod2</NAME>
		<RECT>
		  <X>228</X>
		  <Y>380</Y>
		  <W>500</W>
		  <H>30</H>
		</RECT>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod1</NAME>
		<RECT>
		  <X>228</X>
		  <Y>457</Y>
		  <W>500</W>
		  <H>30</H>
		</RECT>
	  </ROD>
   </RODS>

   <RECORDING>
      <AVI>2017 Hall of Fame Classic 2.mp4</AVI>
      <STARTFRAME>600</STARTFRAME>
      <ENDFRAME>50000000</ENDFRAME>
   </RECORDING>
</CONFIG>