<?xml version="1.0"?>
<CONFIG>
   <CROP>
	  <RECT>
		  <X>5</X>
		  <Y>00</Y>
		  <W>600</W>
		  <H>330</H>
	  </RECT>
   </CROP>
   <RODS>
	  <TRACKING>
		  <MODEL>Horizontal Rod Position</MODEL>
	  </TRACKING>
	  
	  <ROD>
		<NAME>Rod 3</NAME>
		<RECT>
		  <X>0</X>
		  <Y>0</Y>
		  <W>640</W>
		  <H>140</H>
		</RECT>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod 2</NAME>
		<RECT>
		  <X>0</X>
		  <Y>106</Y>
		  <W>640</W>
		  <H>140</H>
		</RECT>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod 1</NAME>
		<RECT>
		  <X>0</X>
		  <Y>224</Y>
		  <W>640</W>
		  <H>140</H>
		</RECT>
	  </ROD>
   </RODS>
   <RECORDING>
      <AVI>out_fix2.avi</AVI>
      <FRAMES>timestamps</FRAMES>
      <ACCEL>18_53_33.LOG</ACCEL>
      <STARTFRAME>7000</STARTFRAME>
      <ENDFRAME>70000000</ENDFRAME>
   </RECORDING>
</CONFIG>