<?xml version="1.0"?>
<CONFIG>
   <CROP>
	  <RECT>
		  <X>5</X>
		  <Y>40</Y>
		  <W>600</W>
		  <H>300</H>
	  </RECT>
   </CROP>
   <LED>
      <RECT>
		  <X>525</X>
		  <Y>47</Y>
		  <W>40</W>
		  <H>30</H>
	  </RECT>
    <COLOURON>
      255,255,250
    </COLOURON>
    <COLOURDISTANCE>30</COLOURDISTANCE>
    <COLOURBLUR>1</COLOURBLUR>
    <PERIOD>500</PERIOD>
   </LED>
   <RECORDING>
      <AVI>out_fix2.avi</AVI>
      <FRAMES>timestamps</FRAMES>
      <ACCEL>18_53_33.LOG</ACCEL>
      <ACCELRATIONFRAMESTART>600</ACCELRATIONFRAMESTART>
      <ENDFRAME>50000000</ENDFRAME>
   </RECORDING>
</CONFIG>