<?xml version="1.0"?>
<CONFIG>
   <CROP>
	  <RECT>
		  <X>5</X>
		  <Y>00</Y>
		  <W>600</W>
		  <H>330</H>
	  </RECT>
   </CROP>
   <RODS>
	  <TRACKING>
		  <ALIGNMENT>Horizonal</ALIGNMENT>
		  <GAP_COLOUR>20,20,20</GAP_COLOUR>
		  <GAP_COLOUR_DISTANCE>70</GAP_COLOUR_DISTANCE>
		  <GAP_MIN_SIZE>80</GAP_MIN_SIZE>
		  <ROD_WIDTH>7</ROD_WIDTH>
	  </TRACKING>
	  
	  <ROD>
		<NAME>Rod 3</NAME>
		<RECT>
		  <X>0</X>
		  <Y>60</Y>
		  <W>640</W>
		  <H>80</H> 
		</RECT>
		<GAPS>2</GAPS>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod 2</NAME>
		<RECT>
		  <X>0</X>
		  <Y>171</Y>
		  <W>640</W>
		  <H>80</H>
		</RECT>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod 1</NAME>
		<RECT>
		  <X>0</X>
		  <Y>311</Y>
		  <W>640</W>
		  <H>80</H>
		</RECT>
	  </ROD>
   </RODS>

   <RECORDING>
      <AVI>geoff_attacking_junjie.mp4</AVI>
	  <STARTFRAME>200</STARTFRAME>
      <ENDFRAME>50000000</ENDFRAME>
   </RECORDING>
</CONFIG>