<?xml version="1.0"?>
<CONFIG>
   <CROP>
	  <RECT>
		  <X>0</X>
		  <Y>70</Y>
		  <W>640</W>
		  <H>352</H>
	  </RECT>
   </CROP>
   <RODS>
	  <TRACKING>
		  <MODEL>Horizontal Rod Position</MODEL>
	  </TRACKING>
	  
	  <ROD>
		<NAME>Rod 3</NAME>
		<RECT>
		  <X>0</X>
		  <Y>40</Y>
		  <W>640</W>
		  <H>140</H>
		</RECT>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod 2</NAME>
		<RECT>
		  <X>0</X>
		  <Y>166</Y>
		  <W>640</W>
		  <H>140</H>
		</RECT>
	  </ROD>
	  
	  <ROD>
		<NAME>Rod 1</NAME>
		<RECT>
		  <X>0</X>
		  <Y>294</Y>
		  <W>640</W>
		  <H>140</H>
		</RECT>
	  </ROD>
   </RODS>

   <RECORDING>
      <AVI>geoff_attacking_junjie.mp4</AVI>
	  <STARTFRAME>200</STARTFRAME>
      <ENDFRAME>50000000</ENDFRAME>
   </RECORDING>
</CONFIG>